
*{
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-weight: 500;
    color: #FFF;
    text-shadow: 2px 2px 2px black;
}

p{
    font-size: 22px;
    margin-left: 4vh;
}

h1{
    font-size: 4vh;
    text-shadow: 2px 2px 2px black;
}

h2{
    font-size: 3vw;
    color: goldenrod;
}

h3{
    font-size: 2vw;
    }

h4{
    text-align: center;
    font-size: 25;
}

.inicio{
    text-align: center;
}

.iconos-header{
    width: 100%;
    height: 120px;
    position: relative;
    box-sizing: border-box;
    display: flex;
}

.logolinkedin-container{
    margin-left: 5vh;
    margin-top: 5vh;
}

#logo-linkedin img{
    height: 5vh
}

.logoap img{
    height: 5vh;
    margin-left: 5vh;
    margin-top: 5vh;
    border-radius: 5px;
    right: 0;
}

#login-button{
    font-size: 4vh;
    text-decoration: none;
    color: goldenrod;
    position: absolute;
    right: 0;
    margin-right: 5vh;
}

#presentacion{
    margin-top: 50vh;
}

#sobremi {
    text-align: center;
}

#profile-picture{
    width: 200px;
    height: 200px;
    border-radius: 100%;
    border: solid black;
    object-position: right 0;
    margin-top: 2em;
    box-shadow: 5px 10px 30px 2px #000;
    margin-top: 6vh;
}

#profile.picture img{
    height: 100%;
    width: 100%;
    object-fit: none;
}

#info, #exp{
    color: goldenrod;
    font-size: 35px;
}

body{
    background-image: url(IMG/bg.jpg);
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

ul li{
    display: inline-block;
}

ul li a{
    text-decoration: none;
    padding: 2vh 5vw;
}

b:hover{
    color: goldenrod;
    transition: 0.3s;
}

.nav{
    position: sticky;
    z-index: 1;
    text-shadow: 4px 4px 15px #FFF;
    color: #FFF;
    background-color: black;
    opacity: .6;
    border-bottom-left-radius: 200px;
    border-bottom-right-radius: 200px;
    width: 100%;
    height: 8vh;
    margin: 0;
    top: 0;
    text-align: justify;
    justify-content: space-evenly;
}

.nav-link{
    margin-inline: 7vw;
    color: #FFF;
    display: inline-block;
    font-size: 4vh;
    box-sizing: content-box;
    justify-content: space-evenly;
    text-align: center;
}

html{
    scroll-behavior: smooth;
}

.banner{
    position: static;
    width: 100%;
    height: calc(40vh - 50px);
    background-color: #f5f5f5;
    background-size: cover;
    background-position: center;
    background-image: url(IMG/work.jpg);
    animation: banner 28s infinite linear;
    border-radius: 200px;
    box-shadow: 5px 10px 30px 2px #000;
    text-shadow: 2px 2px 7px #FFF;
    margin-top: 1vh;
}

.banner-content{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    color: #FFF;
    background-color: rgba(0, 22, 40, .6);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 200px;
}

.banner-content h1{
    margin: 0;
    padding: 0;
    padding-bottom: 30px;
    font-size: 40px;
    text-align: center;
}

.banner-content a{
    text-decoration: none;
    text-align: center;
    align-items: center;
    justify-content: space-evenly;
    color: #FFF;
    padding: 9px 20px;
    border: 1px solid #FFF;
    text-transform: uppercase;
    
}

.banner-content a:hover{
    background-color: #FFF;
    color: #333;
}

@keyframes banner{
    0%{
        background-image: url("IMG/work.jpg");
    }
    25%{
        background-image: url("IMG/work.jpg");
    }
    
    26%{
        background-image: url("IMG/growth.jpg");
    }
    50%{
        background-image: url("IMG/growth.jpg");
    }
    
    51%{
        background-image: url("IMG/store.jpg");
    }
    75%{
        background-image: url("IMG/store.jpg");
    }
    
    76%{
        background-image: url("IMG/nolimits.jpg");
    }
    100%{
        background-image: url("IMG/nolimits.jpg");
    }
}

.presentacion{
    margin-left: 1vh;
}

#sobremi{
    margin-top: 20vh;
}

.fend, .bend{
    font-size: 35px;
}

.hab1{
    font-size: 35px;
}

.hab2{
    font-size: 40px;
    color: goldenrod;
}

.extras{
    text-align: center;
}

.columns-divisor, .col1{
    text-align: center;
    margin-block: 3vh;
    padding-top: 17vh;
}

.title-extras{
    color: goldenrod;
    font-size: 35px;
}

.contact-input, .contact-button{
    text-shadow: 1px 1px 1px white;
}

input, .contact-input::placeholder{
    color: goldenrod;
    padding: 8px;
    width: 20%;
    font-size: 18px;
}

.contact-input:focus{
    background-color: rgb(0, 0, 0);
    transition: 1s;
    border: solid 4px goldenrod;
}

#contact-button {
    width: 10%;
    transition: .7s;
    cursor: pointer
}

.contact-button:hover{
    background-color: rgb(10, 3, 37);
    font-size: 22px;
    border: solid 3px goldenrod;
}

textarea{
    width: 35%;
    height: 20%;
}

#footer-name {
    text-align: center;
    font-size: 45px;
    margin-top: 60px;
}

#footer-subname {
    text-align: center;
    font-size: 35px;
    margin-bottom: 60px;
}

